// android back-button issue fix
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  text-align: center;
}

// android back-button issue fix
.back-button {
  z-index: 1;
}
